page-login {

    #loginPage{
        background-color: grey;
    }
    

    .inputTest{
        height: 45px;
        width: 330px;
        background: white;
        opacity: 55%;
        color: #808080;
    }
    
}
